.testName {
    text-align: center;

}

.advancedOptions {
    font-size: 110%;
    text-align: center;
}
.playerAttributes {
    font-size: 110%;
    text-align: center;
}
.actualButton {
    width: 13%;
    padding-top: 1%;
    padding-bottom:1%;

    font-size: 100%;
    background-color: coral;
    color: ivory;
    font-weight: bold;
}


.submitButton{
    padding-top: 2.2%;
}
.testRow {
    text-align: center;
    padding-top: 0%;
    padding-bottom: 0%;
    padding-left: 0%;
    padding-right: 0%;
}